@import url('https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/sandstone/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');


#map {
  height: 170px;
  width: 100%;
}

input {
  transition: all 0.40s ease-in-out !important;
  outline: none !important
}

.form-control:focus {
  box-shadow: 0 0 2px hsl(40, 97%, 54%) !important;
  border-color: #fcaf17 !important
}